@model DDDPizza.ViewModels.PlaceOrderVm
@{
    ViewBag.Title = "Place a new Order";
}
<h2>@ViewBag.Title</h2>


@Html.DropDownList("Foo", new SelectList(Model.Breads.Select(x => new { Value = x.Id, Text = x.Name}), "Value", "Text"), "  -----Select List-----  ", new { @class = "form-control", @onchange = "this.form.submit();" })



